@import './base.css';

#app {
  overflow: hidden;
  width: 100%;
  margin: 0;
  font-weight: normal;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 120px 0 36px;
  gap: 24px;
  padding: 0 4%;
}

a,
.accent {
  text-decoration: none;
  color: var(--color-text-accent);
  transition: 0.4s;
}

button {
  background-color: var(--color-background-accent);
  border-radius: 0;
  border: none;
  color: var(--color-text);
  font: var(--font-h4);
  transition: 0.4s;
}

/* button: {
  background-color: var(--color-background-accent-soft);
} */

@media (hover: hover) {
  button:hover {
    background-color: var(--color-background-accent-mute);
    cursor: pointer;
  }

  a:hover {
    background-color: hsla(186, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
  }

  main {
    margin: 150px 0 72px;
    padding: 0;
    gap: 36px;
  }
}
